<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Delete User</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
    </div>
    <div class="form-add-new">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Update a user</legend>
                <div class="d-none">
                    <label>ID: </label>
                    <input type="text" value="<%= userEdit.id %>" name="userID">
                </div>
                <div class="input-group">
                    <label>Are you sure delete user with Email: </label>
                    <input type="text" value="<%= userEdit.email %>" name="email">
                </div>

                <div>
                    <button type="submit">Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>